body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.wrapper{
    max-width: 960px;
    margin: 2rem auto;
}

.dashboard_lower1
{
    display: flex;
    justify-content: space-between;
}

.dashboard_lower
{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 1.5vw;
    
}

.toernooien
{
    border: 3px solid RGB(238,186,48);
    text-align: center;

}

.teams
{
    border: 3px solid RGB(238,186,48);
    text-align: center;
}
.snitch
{
    grid-row: span 2;
    border: 3px solid RGB(238,186,48);
    width: 50%;
    height: 50%;

}

.upcomingPage
{
    display: flex;
    justify-content: center;
}

.upcoming
{
    border: 3px solid RGB(238,186,48);
    text-align: center;
    width: 75%;
    margin-right: 5%;
    
    
}

.upcoming p
{
    font-size: 30px;
    font-style: italic;
}

header{
    background-color: #0044ff;
    color: #000000;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: minmax(185px, 1fr) minmax(auto, 960px) minmax(165px, 1fr);
    grid-gap: 2rem;
}

nav{
    min-width: 50%;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .title{
    font-family: inherit;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

nav a{
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5%;
}

nav a.active{
    color: #fffb00;
    font-weight: bolder;
    text-decoration: underline;
}


img.logo{
    max-height: 45px;
    margin-left: 8px;
}

.table{
    width: 100%;
    margin-top: 1vh;
}

.table th{
    background-color: #0044ff;
}

.table th, .table td{
    padding: .5em 1em;
}

.table tr:nth-child(odd) td
{
    background-color: #f0ece1;
}

.table tr:hover td{
    background-color: #0044ff;
}

label{
    min-width: 160px;
    display: inline-block;
}

.form-control{
    min-width: 200px;
}
